@import './Color.scss';

button:focus {
  border: none;
  outline: none;
}

button {
  padding: 7px 5px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  cursor: pointer;
}

.themeButton {
  color: whitesmoke;
  margin: 10px 0;
  background-color: $mainTheme;
  transition: background-color 0.4s linear;
}

.themeButton:hover {
  background-color: rgb(45, 55, 83);
  color: white;
}

.themeButton:disabled {
  cursor: auto;
  background-color: rgba(40, 44, 52, 0.353);;
}